/* CSS */
/*BASE STYLES*/
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    font-size: 16px;
}
/* HEADER */
header {
    background: #fff5ee;
    clear: both;
    height: 15%;
}
header h1 {
    color: #660000;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/* FOOTER */
footer {
    clear: both;
    height: 10%;
}
/* MAP */
#map {
    background: url(../img/map.png);
    background-size: cover;
    border-top: 1px solid #003f87;
    border-bottom: 1px solid #003f87;
    height: 10%;
    width: 100%;
}
img {
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}
/* MEDIA */
#media {
    clear: both;
    height: 10%;
    width: 100%;
}
h2 {
    color: #660000;
    font-size: 1.5em;
    padding-left: 2%;
}
p {
    font-size: 0.875em;
    padding-left: 15%;
}
.img {
    float: left;
    padding-left: 2%;
    padding-top: 2%;
    width: 30%;
}
.vid {
    padding-top: 4%;
    float: left;
    width: 30%;
}
.vid iframe {
    padding-left: 15%;
}
/*ABOUT */
#about {
    background: #fff5ee;
    border-top: 1px solid #003f87;
    clear: both;
    height: 30%;
    width: 100%;
}
h2 {
    font-size: 1.5em;
    color: #660000;
    padding-left: 2%;
}
.img {
    float: left;
    width: 30%;
}
.img img {
    padding-left: 15%;
}
.text {
    float: left;
    padding-top: 3%;
    width: 60%;
}
.text p {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 20%;
}
footer {
    border-bottom: 1px solid #003f87;
}