/* CSS */
/*BASE STYLES*/
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    font-size: 16px;
}
/* HEADER */
header {
    background: #fff5ee;
    height: 10%;
}
header h1 {
    color: #660000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2% 0 2% 1%;
}
/* FOOTER */
footer {
    background: #fff5ee;
    clear: both;
    height: 10%;
    width: 100%;
}
/* MAP */
#map {
    background: url(../img/map.jpg);
    background-size: cover;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
    height: 10%;
    width: 100%;
}
img {
    padding: 2% 0 2% 30%;
}
/* MEDIA */
#media {
    background: #fff5ee;
    height: auto;
    width: 100%;
}
h2 {
    color: #660000;
    font-size: 1.5em;
    padding-left: 1%;
}
p {
    font-size: 0.875em;
    text-align: center;
}
.img {
    float: left;
    padding: 2% 0 2% 0;
    width: 30%;
}
.img img {
    width: 90%;
}
.vid {
    padding: 4% 5% 0 5%;
    float: left;
    width: 30%;
}
.vid iframe {
    padding-left: 15%;
    width: 90%;
}
/*ABOUT */
#about {
    border-top: 1px solid #660000;
    clear: both;
    height: 30%;
    width: 100%;
}
h2 {
    font-size: 1.5em;
    color: #660000;
    padding-left: 1%;
}
.img {
    float: left;
    width: 30%;
}
.img img {
    padding-left: 15%;
}
.text {
    float: left;
    padding-top: 3%;
    width: 60%;
}
.text p {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 20%;
}
footer {
    border-bottom: 1px solid #660000;
}